<section>
  <h2>Create TWU.json</h2>

  <form action='/twu.json' method='post' enctype='multipart/form-data' >
    <div class='form_entry' >
      <label for='csv_calendar'>CSV calendar</label>
      <input id='csv_calendar' type='file' name='csv_calendar' required />
    </div>

    <div class='form_entry' >
      <input type='submit' value='Create twu.json' />
    </div>
  </form>

</section>
