<script>
  var twuJson = <%= @json %>
</script>

<section id="sankey">
</section>

<section id="piechart">
</section>

<script src="d3.v3.min.js"></script>
<script src="sankey-plugin.js"></script>

<script src="twu-sankey.js"></script>
<script src="piechart.js"></script>
