<section id='create_calendar' >
  <h2>create a new calendar</h2>
  
  <form action='/create_calendar' method='post' enctype='multipart/form-data' >

    <div class='form_entry' >
      <label for='calendar_name'>Name</label>
      <input id='calendar_name' placeholder='TWU calendar' name='calendar_name' type='text' required/>
    </div>
    
    <div class='form_entry' >
      <label for='calendar_start_date'>TWU Start Date</label>
      <input id='calendar_start_date' name='calendar_start_date' type='date' required/>
    </div>

    <div class='form_entry' >
      <label for='calendar_csv'>CSV calendar</label>
      <input id='calendar_csv' type='file' name='calendar_csv' required/>
    </div>

    <div class='form_entry' >
      <input type='submit' value='Create Calendar' />
    </div>

  </form>
</section>

