<div id="inner_request_authorization_panel" >
  <section id="request_access" />
    <h2>you must grant our applications permissions</h2>
    <div><a href='/google_grant_permissions' target="_blank" >Grant Permission</a></div>
  </section>

</div>

