<!DOCTYPE html>
<html>

  <head>
    <link rel='stylesheet' href='twu_toolkit.css' />

    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="twu_toolkit.js"></script>
  </head>

  <body>
    <% if !flash[:notice].nil? %>
      <div class="notice">! <%= flash[:notice] %></div>
    <% end %>

    <% if !flash[:warning].nil? %>
      <div class="notice warning">! <%= flash[:warning] %></div>
    <% end %>


    <div id="content">
      <header>
        <h1>twu toolkit</h1>
      </header>  

      <%= yield %>

    </div>
  </body>

</html>

