<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="twu_toolkit.css" />
  </head>
  <body>
     <% if !flash[:notice].nil? %>
      <div class="notice">! <%= flash[:notice] %></div>
    <% end %>

    <% if !flash[:warning].nil? %>
      <div class="notice warning">! <%= flash[:warning] %></div>
    <% end %>

   <header>
      <nav>
        <span id="welcome_user" >Welcome, <em>Beloved User :)</em></span>
        <!-- for the future, navigation buttons 
        <ul>
          <li>
            <embed src="img/config.svg" type="image/svg+xml" ></embed>
          </li>
          <li>
            <embed src="img/logout.svg" type="image/svg+xml" ></embed>
          </li>
          -->
        </ul>
      </nav>
    </header>

    <aside>
      <ul>
        <li>
          <a href="/calendar" >Calendar</a>
        </li>
        <li>
          <a href="/trello" >Trello</a>
        </li>
      </ul>
    </aside>

    <main>
        <%= yield %>
    </main>

  </body>
</html>
<!DOCTYPE html>
<html>

  <head>
 </head>

  <body>
      <div id="main">
      </div>

    </div>
  </body>

</html>

