<ul>
  <li>
    <a href='/calendar' >calendar</a>
  </li>
  <li>
    <a href='/trello' >trello</a>
  </li>
  <li>
    <a href='/twu.json' >twu.json</a>
  </li>
  <li>
    <a href='/visualisations' >visualisations</a>
  </li>
  <li>
    <a href='/session_types' >manage session types</a>
  </li>



</ul>
