/* TWU Home */
* {
  padding: 0;
  margin: 0;
  font-family: helvetica;
  font-size: 0.98em;
}

body {
  background-color: honeydew;
}

em {
  color: darkcyan;
  font-style: normal;
}

#welcome_user {
  display: inline-block;
  position: relative;
  top: 1.2em;
  left: 1em;
}

header {
  border: solid lightgray;
  border-width: 0 0 1px 0;
  margin: 0 5px 5px 5px;
  display: block;
  min-height: 2.8em;
  text-align: left;
}

nav ul {
  float: right;
  padding: 10px 10px 0 0;
}

nav ul li {
  list-style: none;
  display: inline;
}

nav ul embed {
  width: 32px;
  height: 32px;
}

nav svg {
  fill: lightgray;
}

aside {
  clear: both;
  border: solid lightgray;
  border-width: 0 1px 0 0;
  display: inline-block;
  height: 800px;
  padding: 10px 40px 0 20px;
}

aside li {
  list-style-type: circle;
  margin: 0 0 5px 15px;
}

aside a {
  text-decoration: none;
  color: darkcyan;
}

main {
  display: inline-block;
  vertical-align: top;
  padding: 10px 0px 0px 20px;
}

h1 {
  font-size: 1.4em;
  font-weight: normal;
}

