/* TWU Home */
* {
  padding: 0;
  margin: 0;
  font-family: helvetica;
  font-size: 0.98em;
}

h3 {
  margin-bottom: 10px;
}

hr {
  margin: 5px 0;
}

a {
  color: darkblue;
}

body {
  background-color: honeydew;
}

em {
  color: darkcyan;
  font-style: normal;
}

#welcome_user {
  display: inline-block;
  position: relative;
  top: 1.2em;
  left: 1em;
}

header {
  border: solid lightgray;
  border-width: 0 0 1px 0;
  margin: 0 5px 5px 5px;
  display: block;
  min-height: 2.8em;
  text-align: left;
}

nav ul {
  float: right;
  padding: 10px 10px 0 0;
}

nav ul li {
  list-style: none;
  display: inline;
}

nav ul embed {
  width: 32px;
  height: 32px;
}

nav svg {
  fill: lightgray;
}

aside {
  clear: both;
  border: solid lightgray;
  border-width: 0 1px 0 0;
  display: inline-block;
  height: 640px;
  padding: 10px 40px 0 20px;
}

aside li {
  list-style-type: circle;
  margin: 0 0 5px 15px;
}

aside a {
  text-decoration: none;
  color: darkcyan;
}

main {
  display: inline-block;
  vertical-align: top;
  padding: 10px 10px 0px 20px;
  width:70%;
}

h1, h2 {
  font-weight: normal;
  margin-bottom: 10px;
}

h1 { font-size: 1.4em; }
h2 { font-size: 1.3em; }

.form_entry label {
  width: 10em;
  display: inline-block;
}

.form_entry {
  margin-bottom: 10px;
}

.form_entry input {
  padding: 3px;
  width: 15em;
}

.form_entry textarea {
  border: 1px solid lightgray;
  padding: 3px;
  width: 15.1em;
}

.form_entry input[type=submit] {
  background-color: darkcyan;
  border: none;
  color: honeydew;
  padding: 10px 10px;
  width: auto;
  border-radius: 2px;
  margin-top: 10px;
}

.button_loading {
  background-image: url('/loading.gif');
  background-repeat: no-repeat;
  width: 200px !important;
  background-position: 10px;
  text-align: right;
  opacity: 0.4;
}

.field_errors {
  display: inline-block;
  margin-left: 10px;
  color: chocolate;
}

.notice {
  display: none;
  color: white;
  padding: 15px;
  background-color: darkcyan;
}

.warning {
  background-color: chocolate;
}

#trello_types_options {
  width: 400px;
}

#trello_types_options label {
  display: block;
  width: auto;
  margin-bottom: 10px;
}

#trello_types_options input[type=checkbox] {
  margin-right: 10px;
  margin-bottom: 5px;
  display: inline-block;
  width: auto;
}

.heroku_disclaimer {
  background-color: darkred;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
}

@media (max-width: 540px) {
  aside, main {
    display: block;
  }
  aside {
    height: auto;
    border: solid lightgray;
    border-width: 0 0 1px 0;
    margin: 0px 5px;
    padding: 10px;
  }
  .form_entry input[type=submit] {
    float: none;
    width: 100%;
  }
  .button_loading {
    width: 100% !important;
    text-align: center;
  }
}

#piechart svg {
  display: inline-block;
}

#piechart ul {
  display: inline-block;
  vertical-align: top;
}

#piechart ul li {
  margin-bottom: 5px;
  vertical-align: top;
}

#piechart .legenda {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  float: left;
}

#errors div {
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  border-radius: 3px;
  background-color: darkred;
  color: white;
  width: 200px;
}

#errors div p {
  margin-bottom: 15px;
  font-size: 16px;
  text-decoration: underline;
}

#errors div:nth-of-type(2) {
  background-color: darkgreen;
  color: white;
}

#errors ul li {
  list-style: none;
  padding-left: 15px;
}

#errors h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

#session_types {
  width: 200px;
  margin: 10px 0 20px 0;
}

#session_types li {
  padding: 10px;
  margin-left: 30px;
  list-style: none;
  width: 200px;
}

#session_types li:hover {
  background-color: darkcyan;
}

#session_types li form {
  float: right;
  margin-left: 15px;
}


#session_types a {
  float: right;
}

#session_types li input[type=submit] {
  border: none;
  background-color: transparent;
  text-decoration: underline;
  color: darkblue;
  cursor: pointer;
}




