<div id="inner_request_authorization_panel" >
  <section id="request_access" />
    <h2>you must grant our applications permissions</h2>
    <div><a id='request_permission_link' href='/grant_trello_permissions'  >Grant Permission</a></div>
  </section>

</div>

